<?xml version="1.0"?>
<config>
    <modules>
        <Iceshop_Icecatlive>
            <version>1.6.0</version>
        </Iceshop_Icecatlive>
    </modules>
    <global>
        <helpers>
            <icecatlive>
                <class>Iceshop_Icecatlive_Helper</class>
            </icecatlive>
            <catalog>
                <rewrite>
                    <image>Iceshop_Icecatlive_Helper_Catalog_Image</image>
                    <output>Iceshop_Icecatlive_Helper_Output</output>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <Iceshop_Icecatlive>
                <class>Iceshop_Icecatlive_Block</class>
            </Iceshop_Icecatlive>
            <catalog>
                <rewrite>
                    <product_view_attributes>Iceshop_Icecatlive_Block_Attributes</product_view_attributes>
                    <product_view_media>Iceshop_Icecatlive_Block_Media</product_view_media>
                    <product_list_related>Iceshop_Icecatlive_Block_Related</product_list_related>
                    <product_list_upsell>Iceshop_Icecatlive_Block_Upsell</product_list_upsell>
                    <product_list_toolbar>Iceshop_Icecatlive_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <result>Iceshop_Icecatlive_CatalogSearch_Block_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <icecatlive>
                <class>Iceshop_Icecatlive_Model</class>
                <resourceModel>icecatlive_resource_eav_mysql4</resourceModel>
            </icecatlive>
            <icecatlive_resource_eav_mysql4>
                <entities>
                    <data>
                        <table>iceshop_icecatlive_connector_data</table>
                    </data>
                    <data_products>
                        <table>iceshop_icecatlive_connector_data_products</table>
                    </data_products>
                    <supplier_mapping>
                        <table>iceshop_icecatlive_supplier_mapping</table>
                    </supplier_mapping>
                </entities>
            </icecatlive_resource_eav_mysql4>
            <catalog>
                <rewrite>
                    <product>Iceshop_Icecatlive_Model_Catalog_Product</product>
                    <category>Iceshop_Icecatlive_Model_Catalog_Category</category>
                </rewrite>
            </catalog>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>Iceshop_Icecatlive_Model_Catalog_Search</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
        </models>
        <!--
        <routers>
            <catalog>
                <rewrite>
                    <product>
                        <to>Iceshop_Icecatlive/product</to>
                        <override_actions>false</override_actions>
                        <actions>
                            <view><to>Iceshop_Icecatlive/product/view</to></view>
                        </actions>
                    </product>
                </rewrite>
            </catalog>
        </routers>
        -->
        <resources>
            <icecatlive_setup>
                <setup>
                    <module>Iceshop_Icecatlive</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icecatlive_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <icecatlive after="Mage_Adminhtml">Iceshop_Icecatlive</icecatlive>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <icecatlive>
                <use>standard</use>
                <args>
                    <module>Iceshop_Icecatlive</module>
                    <frontName>icecatlive</frontName>
                </args>
            </icecatlive>
        </routers>
        <layout>
            <updates>
                <icecatlive>
                    <file>iceshop/icecatlive/groupattributes.xml</file>
                </icecatlive>
            </updates>
        </layout>
        <translate>
            <modules>
                <icecatlive>
                    <files>
                        <default>Iceshop_Icecatlive.csv</default>
                    </files>
                </icecatlive>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <icecat_root translate="title" module="customer">
                                            <title>Ice Cat Module powered by Iceshop company</title>
                                            <sort_order>200</sort_order>
                                        </icecat_root>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events></events>
        <layout>
            <updates>
                <icecatlive>
                    <file>icecatlive.xml</file>
                </icecatlive>
            </updates>
        </layout>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <icecatlive>Iceshop_Icecatlive.csv</icecatlive>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
    </adminhtml>

    <crontab>
        <jobs>
            <icecatlive>
                <schedule>
                    <cron_expr>0 0 * * 0</cron_expr>
                </schedule>
                <run>
                    <model>icecatlive/observer::load</model>
                </run>
            </icecatlive>
        </jobs>
    </crontab>
</config>
